@font-face{
  font-family: 'Inter, Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif'
}

.header{
  height: 60px;
  background: linear-gradient(180deg, #004157 0%, #003647 100%);
  display: flex;
  justify-content: space-between;
}

.logo{
  padding: 15px;
  float: left;
  width: 197px;
}

.links{
  padding: 15px;
  font-size: 18px;
}

.headerLink{
  color: #c4d1d6;
  padding-left: 10px;
  text-decoration: none;
}

.headerLink:hover{
  text-decoration: underline;
}

.headerLinkButton{
  background-color: #fff;
  color: #003c4e;
  border-radius: 2px;
  border: none;
  margin-left: 25px;
  text-decoration: none;
  padding: 8px;
}
