@font-face{
  font-family: 'Inter, Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif'
}

p{
  font-size: 16px;
}

.header{
  height: 80px;
  background: linear-gradient(180deg, #004157 0%, #003647 100%);
  display: flex;
  justify-content: space-between;
}

.logo{
  padding: 25px;
  float: left;
  width: 197px;
}

.links{
  padding: 15px;
  font-size: 18px;
}

.headerLink{
  color: #c4d1d6;
  padding-left: 10px;
  text-decoration: none;
}

.headerLink:hover{
  text-decoration: underline;
}

.headerLinkButton{
  background-color: #fff;
  color: #003c4e;
  border-radius: 2px;
  border: none;
  margin-left: 25px;
  text-decoration: none;
  padding: 8px;
}

.rainbow{
  background-image: linear-gradient(90deg,#88c540,#48c974,#00c8a3,#00c3c6,#00bbd9,#00bed7,#00c1d5,#00c4d3,#00d0b2,#64d57d,#b1d241,#ffc30f);
  height: 7px;
  width: 100%;
}
